* {
  margin-top: 0;
}

body {
    background-image: url("images/num10.png");
    color: white;
    display: grid;
    grid-template-rows: [bfirst] 12% [bsecond] 70% [bthird] 18% [bfourth] 0%;
    grid-template-columns: [bc1] 100%;
    height: 100vh;
  }

  div#logo {
    max-height: 70px;
  }

  head {
    height: 0px;
    margin:0px;
    padding: 0px;
  }

  html {
    height: 100%;
    margin:0px;
    padding: 0px;
  }

  body {
    min-height: 100vh;
    margin:0px;
    padding: 0px;
  }

  div#topnav {
    grid-row-start: bfirst;
    grid-row-end: bsecond;
    margin-bottom: 30px;
    margin-top: 0;
    background-image: url("images/toolnav.png");
    /* background: #f67280; */
    margin:0px;
    padding: 10px;
    display: grid;
    grid-template-columns: [first] 20% [second] 60% [third] 20% [fourth] 0%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  h1#logo-text {
    max-height: 70px;
    width: 100%;
    margin: 0%;
    padding: 10px;
    text-align: center;
  }

  div#stats-div {
    margin-right: 0px;
    grid-column-start: third;
    grid-column-end: fourth;
  }

  li#stat1 {
    margin: 10%;
    text-align: center;
    grid-column-start: sfirst;
    grid-column-end: ssecond;
  }

  li#stat2 {
    margin: 10%;
    text-align: center;
    grid-column-start: ssecond;
    grid-column-end: sthird;
  }

  li#stat3 {
    margin: 10%;
    text-align: center;
    grid-column-start: sthird;
    grid-column-end: sfourth;
  }

  div#logo {
    width: 100%;
    height: 100%;
    grid-column-start: first;
    grid-column-end: second;
  }

  ul#stats {
    display: grid;
    grid-template-columns: [sfirst] 30% [ssecond] 30% [sthird] 30% [sfourth] 0%;
    list-style: none;
    width: 100%;
    height: 100%;
    float: right;
    float: top;

  }

  ul#story-and-picture {
    text-align: left;
    margin: 0%;
    padding: 10px;
    grid-row-start: bsecond;
    grid-row-end: bthird;
    list-style: none;
    display: grid;
    grid-template-columns: [spfirst] 80% [spsecond] 20% [spthird] 0%;
  }


  ul#decisions-list {
    padding: 0px;
    grid-row-start: bthird;
    grid-row-end: bfourth;
    list-style: none;
    display: grid;
    grid-template-columns: [dlfirst] 40% [dlsecond] 40% [dlthird] 20%;
  }

li#story-text {
  grid-column-start: spfirst;
  grid-column-end: spsecond;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: [stfirst] auto [stsecond] auto [stthird] auto [stfourth] auto [stfifth] 0%;

  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

h1#story-intro {
  text-align: center;
  grid-row-start: stfirst;
  grid-row-end: stsecond;
}

p#text-for-story {
  height: 100%;
  text-align: left;
  grid-row-start: stsecond;
  grid-row-end: stthird;
}

img#story-image {
  text-align: center;
  grid-row-start: stthird;
  grid-row-end: stfourth;
  justify-self: center;
}

div#riddle-text {
  height: 100%;
  text-align: left;
  grid-row-start: stfourth;
  grid-row-end: stfifth;
}

li#character-picture {
  padding: 10px;
  text-align: center;
}

li#btn1 {
  border-radius: 12px;
  height: 30%;
  width: 50%;
  /* background-color: #f67280; */
  margin-top: 8%;
  margin-bottom: 8%;
  margin-right: 24%;
  margin-left: 24%;
  /* padding-top: 8%;
  padding-bottom: 8%;
  padding-right: 24%;
  padding-left: 24%; */
  text-align: center;
  background-image: url("images/toolnav.png");
  display: table;
}



li#btn1 p {
  height: 100%;
  width: 100%;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

li#btn2 {
  border-radius: 12px;
  height: 30%;
  width: 50%;
  /* background-color: #f67280; */
  margin-top: 8%;
  margin-bottom: 8%;
  margin-right: 24%;
  margin-left: 24%;
  text-align: center;
  background-image: url("images/toolnav.png");
}

li#btn2 p {
  height: 100%;
  width: 100%;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

li#btn1 p:hover {
  background: #f67280;
  border-radius: 12px;
}

li#btn2 p:hover {
  background: #f67280;
  border-radius: 12px;
}

input#name-input {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  background-image: url("images/toolnav.png");
  padding: 10px 10px;
  border-radius: 12px;
  text-decoration-color: white;
}

input#name-input :focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  background-image: url("images/toolnav.png");
}

form#name-form {
  text-align: center;
  justify-self: center;
}







